

<h1>Friends List</h1>

<div id="friends">
<table class="table table-hover table-striped">
<thead class="table-dark">
    <tr>
      <th scope="col">First_name</th>
      <th scope="col">Last_name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @friends.each do |friend| %> 
      <tr>
      <td>
      <%= friend.first_name %>
      </td>
      <td>
      <%= friend.last_name %>
      </td>
      <td>
      <%= friend.email %>
      </td>
      <td>
      <%= friend.phone %>
      </td>
      <td>
      <%= link_to "Show this friend", friend %>
      </td>
      <td>
      <%= link_to "Edit this friend", edit_friend_path(friend) %>
      </td>
      </tr>
      <% end %>
  </tbody>
</table>

</div>
<% if user_signed_in? %>
  <%= link_to "New friend", new_friend_path,class:"btn btn-success" %>
<% end%>
